<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

{{> nav}}

{{{body}}}

{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--<script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-vi-VN.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<!--<script src="javascripts/jQuery.print.min.js"></script>-->
<script src="javascripts/config.js"></script>
{{{{raw-helper}}}}
<script id="printTemplate" type="text/x-handlebars-template">
	<link rel='stylesheet' href='/stylesheets/invoice.css' rel="stylesheet" type="text/css"/>
	<div id="invoice-POS">

		<center id="top">
			<div class="info">
				<h2>Thanh Nhân</h2>
			</div>
			<!--End Info-->
		</center>
		<!--End InvoiceTop-->

		<div id="mid">
			<div class="info">
				<p class="itemtext">Ngày {{ngayIn}} tháng {{thangIn}} năm {{namIn}}</p>
				<p class="itemtext">Mã phòng : {{maPhong}}</p>
				<p class="itemtext">Chỉ số điện : {{dienCu}} ~ {{dienMoi}}</p>
				<p class="itemtext">Chỉ số nước : {{nuocCu}} ~ {{nuocMoi}}</p>
			</div>
		</div>
		<!--End Invoice Mid-->

		<div id="bot">
			<div id="table">
				<table>
					<tbody>
					<tr class="tabletitle bb-solid">
						<td class="item">
							<h2></h2>
						</td>
						<td class="Hours">
							<h2>Sử dụng</h2>
						</td>
						<td class="Rate">
							<h2>Thành tiền</h2>
						</td>
					</tr>

					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Điện</p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{soDienTieuThu}}</p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{tienDien}}</p>
						</td>
					</tr>

					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Nước</p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{soNuocTieuThu}}</p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{tienNuoc}}</p>
						</td>
					</tr>

					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Phòng</p>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{tienPhong}}</p>
						</td>
					</tr>

					{{#if rac}}
					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Rác</p>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{giaRac}}</p>
						</td>
					</tr>
					{{/if}}

					{{#if capTV}}
					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Cáp TV</p>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{giaCapTV}}</p>
						</td>
					</tr>
					{{/if}}

					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Internet</p>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{giaInternet}}</p>
						</td>
					</tr>

					{{#if coNoTienPhong}}
					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">Nợ tiền phòng</p>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{noTienPhong}}</p>
						</td>
					</tr>
					{{/if}}

					<tr class="tabletitle">
						<td>
							<h2>Tổng tiền</h2>
						</td>
						<td class="Rate">
						</td>
						<td class="payment">
							<h2>{{tongTien}}</h2>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
					</tr>

					<tr class="tabletitle">
						<td>
							<h2>Số tiền trả</h2>
						</td>
						<td class="Rate">
						</td>
						<td class="payment">
							<h2>{{soTienTra}}</h2>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
					</tr>

					<tr class="tabletitle">
						<td>
							<h2>Còn lại</h2>
						</td>
						<td class="Rate">
						</td>
						<td class="payment">
							<h2>{{conLai}}</h2>
						</td>
						<td class="tableitem">
							<p class="itemtext"></p>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<!--End Table-->

		<!--End InvoiceBot-->
	</div>
	<!--End Invoice-->
{{{{/raw-helper}}}}
</body>
</html>
